<ion-header >
    
    <ion-navbar #content color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Lista de Tareas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Pendientes</h2>
    <ion-card *ngFor="let lista of listas" >
        <ion-card-header class="h-50" no-padding sion-button block (click)="this.verLista(lista);">
            <ion-item color="primary-dark">
            <h1 style="color: white; text-align: center">{{lista.nombre}}</h1>
            </ion-item>
        </ion-card-header>
        <ion-card-content padding-top>
        <ion-list padding>
        <button [@fade]="visibleState" ion-button block icon-end outline flex *ngFor="let item of lista.items | up_slice:toggleItems">
           
           
           {{item.nombre}}
            
            <i class="fa fa-angle-right list-item-icon"></i>
        </button>
                
        </ion-list>
        <button ion-button block round icon-only (click)="toggleItem()">
            <i class="fa fa-angle-down"></i>
        </button>
        </ion-card-content>
    </ion-card>
    


    <ion-fab right bottom>
        <button ion-fab color="light" (click)="irAgregar()">
            <ion-icon name="add"></ion-icon>
        </button>
        <!-- <ion-fab-list side="left">
            <button ion-fab>
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button ion-fab>
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-fab>
                <ion-icon name="logo-vimeo"></ion-icon>
            </button>
            <button ion-fab>
                <ion-icon name="logo-googleplus"></ion-icon>
            </button>
        </ion-fab-list> -->
    </ion-fab>
    
 

</ion-content>